<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="bootstrap430.css">
        <script> 
            //set minutes 
            var mins = 5; 
        
            //calculate the seconds 
            var secs = mins * 60; 
        
            //countdown function is evoked when page is loaded 
            function countdown() { 
                setTimeout('Decrement()', 60); 
            } 
        
            //Decrement function decrement the value. 
            function Decrement() { 
                if (document.getElementById) { 
                    minutes = document.getElementById("minutes"); 
                    seconds = document.getElementById("seconds"); 
        
                    //if less than a minute remaining 
                    //Display only seconds value. 
                    if (seconds < 59) { 
                        seconds.value = secs; 
                    } 
        
                    //Display both minutes and seconds 
                    //getminutes and getseconds is used to 
                    //get minutes and seconds 
                    else { 
                        minutes.value = getminutes(); 
                        seconds.value = getseconds(); 
                    } 
                    //when less than a minute remaining 
                    //colour of the minutes and seconds 
                    //changes to red 
                    if (mins < 1) { 
                        minutes.style.color = "red"; 
                        seconds.style.color = "red"; 
                    } 
                    //if seconds becomes zero, 
                    //then page alert time up 
                    if (mins < 0) { 
                        window.location = "/building2"; 
                        minutes.value = 0; 
                        seconds.value = 0; 
                    } 
                    //if seconds > 0 then seconds is decremented 
                    else { 
                        secs--; 
                        setTimeout('Decrement()', 1000); 
                    } 
                } 
            } 
        
            function getminutes() { 
                //minutes is seconds divided by 60, rounded down 
                mins = Math.floor(secs / 60); 
                return mins; 
            } 
        
            function getseconds() { 
                //take minutes remaining (as seconds) away  
                //from total seconds remaining 
                return secs - Math.round(mins * 60); 
            } 
        </script>
        <style>
            p {
                margin: 0px;
            }
            button {
                width: 200px;
            }
            body {
                padding-bottom: 20px;
            }
        </style>
    </head>
    <body onload="countdown();" style="text-align: center;">
        <div class="container">
            <div> 
                <span style="font-size: 20px;">Time Left : </span> 
                <input id="minutes" type="text" style="width: 15px; 
                        border: none; font-size: 20px;  
                    font-weight: bold; color: black;"><font size="5"> : 
                                </font> 
                <input id="seconds" type="text" style="width: 25px; 
                                border: none; font-size: 20px; 
                                font-weight: bold; color: black;"> 
            </div> 
            <h1 class="display-4">The Fight For The Robot</h1>
            <p>
                You will Be Paired Against Another Team. There Is A Robot In The 25th Floor Of A Building.
                Both Teams Can Lower The Level Of The Robot. The Only Possible Moves You Have Are 1, 3, and 4 Levels Below The Level Of The Robot. 
                Chances Alternate Between Teams and The Team Which Lowers The Level To Zero Is The Winner.
            </p>
            <p>You will have 5 min to create a winning strategy.</p>
            <p>Once the time is up you will be redirected to the game page.</p>
            <p><button type="button" id="25" class="btn btn-outline-secondary">Floor 25</button></p>
            <p><button type="button" id="24" class="btn btn-outline-secondary">Floor 24</button></p>
            <p><button type="button" id="23" class="btn btn-outline-secondary">Floor 23</button></p>
            <p><button type="button" id="22" class="btn btn-outline-secondary">Floor 22</button></p>
            <p><button type="button" id="21" class="btn btn-outline-secondary">Floor 21</button></p>
            <p><button type="button" id="20" class="btn btn-outline-secondary">Floor 20</button></p>
            <p><button type="button" id="19" class="btn btn-outline-secondary">Floor 19</button></p>
            <p><button type="button" id="18" class="btn btn-outline-secondary">Floor 18</button></p>
            <p><button type="button" id="17" class="btn btn-outline-secondary">Floor 17</button></p>
            <p><button type="button" id="16" class="btn btn-outline-secondary">Floor 16</button></p>
            <p><button type="button" id="15" class="btn btn-outline-secondary">Floor 15</button></p>
            <p><button type="button" id="14" class="btn btn-outline-secondary">Floor 14</button></p>
            <p><button type="button" id="13" class="btn btn-outline-secondary">Floor 13</button></p>
            <p><button type="button" id="12" class="btn btn-outline-secondary">Floor 12</button></p>
            <p><button type="button" id="11" class="btn btn-outline-secondary">Floor 11</button></p>
            <p><button type="button" id="10" class="btn btn-outline-secondary">Floor 10</button></p>
            <p><button type="button" id="9" class="btn btn-outline-secondary">Floor 9</button></p>
            <p><button type="button" id="8" class="btn btn-outline-secondary">Floor 8</button></p>
            <p><button type="button" id="7" class="btn btn-outline-secondary">Floor 7</button></p>
            <p><button type="button" id="6" class="btn btn-outline-secondary">Floor 6</button></p>
            <p><button type="button" id="5" class="btn btn-outline-secondary">Floor 5</button></p>
            <p><button type="button" id="4" class="btn btn-outline-secondary">Floor 4</button></p>
            <p><button type="button" id="3" class="btn btn-outline-secondary">Floor 3</button></p>
            <p><button type="button" id="2" class="btn btn-outline-secondary">Floor 2</button></p>
            <p><button type="button" id="1" class="btn btn-outline-secondary">Floor 1</button></p>
            <p><button type="button" id="0" class="btn btn-outline-secondary">Floor 0</button></p>
        </div>
    </body>
</html>