<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bootstrap337.css">
    <script src="socketio220.js"></script>
    <script>
    function myfunction(clicked_id) {
        var clicked = document.getElementById(clicked_id);
        if(clicked.classList.contains("bord")) {
            clicked.classList.remove("bord");
        } else {
            clicked.classList.add("bord");
        }
    }
    function submit() {
        if(document.getElementsByClassName("bord")) {
            if(document.getElementsByClassName("bord").length == 1) {
                var bord = document.getElementsByClassName("bord");
                document.body.innerHTML += '<form id="dynForm" action="/abc" method="POST"><input type="hidden" name="id" value="' + bord[0].id + '"></form>';
                document.getElementById("dynForm").submit();
            } else {
                alert("Select Only One Letter First");
            }
        }
    }
    </script>
    <style>
        .bord {
            border: 10px solid red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Technothlon</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
                    <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                        <li>Level Name: Stay On The Line</li>
                        <li role="separator" class="divider"></li>
                        <li>Maximum Marks: 15 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Hint 1: 2 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Hint 2: 10 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Skip: 10 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Wrong Answer: 7 marks</li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">View Profile</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 200px;">
                <div style="text-align: center;" id="hintbox">
                    <label for="hint">Type 'hint' in the box below to get a hint</label>
                    <input style="width: 150px;" type="text" name="hint" id="hint">
                    <button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
                </div>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 200px;">
                    <form style="text-align: center;" action="/skip" method="POST">
                        <label for="hint">Type 'skip' in the box below to skip this level</label>
                        <input style="width: 150px;" type="text" name="skip" id="skip">
                        <button style="margin-top: 5px;" type="submit">Submit</button>
                    </form>
                </ul>
            </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<h1 align='center'>Stay On The Line!!!</h1>
<h2 align='center'>Find the odd one out.</h2>
<table align='center'>
<tr>
<td><img id="1" onclick="myfunction(this.id);" src='/images/I.jpg'></td>
<td><img id="2" onclick="myfunction(this.id);" src='/images/T.jpg'></td>
<td><img id="3" onclick="myfunction(this.id);" src='/images/Y.jpg'></td>
</tr>
<tr>
<td><img id="4" onclick="myfunction(this.id);" src='/images/W.jpg'></td>
<td><img id="5" onclick="myfunction(this.id);" src='/images/E.jpg'></td>
<td><img id="6" onclick="myfunction(this.id);" src='/images/U.jpg'></td>
</tr>
<tr>
<td><img id="7" onclick="myfunction(this.id);" src='/images/R.jpg'></td>
<td><img id="8" onclick="myfunction(this.id);" src='/images/C.jpg'></a></td>
<td><img id="9" onclick="myfunction(this.id);" src='/images/p.jpg'></td>
</tr>
</table>
<div style="text-align: center;">
    <button type="button" class="btn btn-success" style="margin-top: 10px;" onclick="submit();">Submit</button>
</div>
<script src="jquery341.js"></script>
<script src="bootstrap337.js"></script>
<script>
    var socket = io.connect("http://10.150.38.192:4000/");
    var hintinput = document.getElementById("hint");
    var hintbutton = document.getElementById("hintbutton");
    var hintbox = document.getElementById("hintbox");
    var id = "<%= user.socketid %>";
    function hintfunction(){
        if(hintinput.value == "hint") {
            console.log(socket.id);
                socket.emit("hint", {
                id: id,
                toid: socket.id
            });
        }
    };
    socket.on("hintres", function(data){
        console.log(data.hint);
        hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
    });
</script>
</body>
</html>