<!DOCTYPE html>
<html>
<head>
	<title>Technothlon</title>
	<link rel="stylesheet" type="text/css" href="bootstrap337.css">
	<script src="socketio220.js"></script>

	<style type="text/css">
		body {
		  margin: 0;
		  font-family: "Oswald", sans-serif;
		  color: #444;
		  }

		section {
		  height: 90vh;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  text-align: center;
		}

		.slanted {
		  font-size: 40px;
		  text-transform: uppercase;
		  transform: rotate(-10deg)
		             skew(-5deg);
		  background-color: #ffc;
		  padding: 5px;
		}
	</style>
</head>
<body>
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Technothlon</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
							<ul style="text-align: center; width: 250px;" class="dropdown-menu">
								<li>Level Name: What Comes Next?</li>
								<li role="separator" class="divider"></li>
								<li>Maximum Marks: 15 marks</li>
								<li role="separator" class="divider"></li>
								<li>Deduction On Hint 1: 7 marks</li>
								<li role="separator" class="divider"></li>
								<li>Deduction On Hint 2: 5 marks</li>
								<li role="separator" class="divider"></li>
								<li>Deduction On Skip: 10 marks</li>
								<li role="separator" class="divider"></li>
								<li>Deduction On Wrong Answer: 5 marks</li>
								<li role="separator" class="divider"></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li><a href="/profile">View Profile</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
						<ul class="dropdown-menu" style="width: 200px;">
						<div style="text-align: center;" id="hintbox">
							<label for="hint">Type 'hint' in the box below to get a hint</label>
							<input style="width: 150px;" type="text" name="hint" id="hint">
							<button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
						</div>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
						<ul class="dropdown-menu" style="width: 200px;">
							<form style="text-align: center;" action="/skip" method="POST">
								<label for="hint">Type 'skip' in the box below to skip this level</label>
								<input style="width: 150px;" type="text" name="skip" id="skip">
								<button style="margin-top: 5px;" type="submit">Submit</button>
							</form>
						</ul>
					</li>
					</ul>
				</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
	<div class="container">
		<div style="font-size: 40px;	color: #7cb76a;">What Comes Next?? </div>	
		<form action="/alphabet" method="POST">
			<label for="answer"> Answer : </label>
			<input type="text" name="answer" id="answer">
			<button class="btn btn-primary">Submit</button>
		</form>
		<section>
	  <span class="slanted">AF</span>
	  <span class="slanted">BE</span>
	  <span class="slanted">CF</span>
	  <span class="slanted">DI</span>
	  <span class="slanted">FD</span>	
	  <span class="slanted">??</span>	
	</section>
	</div>
	<script src="jquery341.js"></script>
    <script src="bootstrap337.js"></script>
	<script>var socket = io.connect("http://10.150.38.192:4000/");
		var hintinput = document.getElementById("hint");
		var hintbutton = document.getElementById("hintbutton");
		var hintbox = document.getElementById("hintbox");
		var id = "<%= user.socketid %>";
		function hintfunction(){
			if(hintinput.value == "hint") {
				console.log(socket.id);
					socket.emit("hint", {
					id: id,
					toid: socket.id
				});
			}
		};
		socket.on("hintres", function(data){
			console.log(data.hint);
			hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
		});
	</script>
</body>
</html>