<!DOCTYPE html>
<html>
<head>
	<title>crack the code</title>
	<link rel="stylesheet" type="text/css" href="bootstrap337.js">
<style>
.jumbotron{
	text-align: center;
	/*font-weight: 900;*/
	/*font-size: 30px;*/
}
h1{
	text-align: center;
	margin-top: 50 px;
}
input{
	margin-top: 30px;
	width: 270px;
	height: 270px;
	text-align: center;

}
.c{
	text-align: center;
	margin-left: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
}
</style>
<script src="socketio220.js"></script>
   
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Technothlon</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
					<ul style="text-align: center; width: 250px;" class="dropdown-menu">
						<li>Level Name: Crack The Code</li>
						<li role="separator" class="divider"></li>
						<li>Maximum Marks: 10 marks</li>
						<li role="separator" class="divider"></li>
						<li>Deduction On Hint 1: 0 marks</li>
						<li role="separator" class="divider"></li>
						<li>Deduction On Hint 2: 0 marks</li>
						<li role="separator" class="divider"></li>
						<li>Deduction On Skip: 10 marks</li>
						<li role="separator" class="divider"></li>
						<li>Deduction On Wrong Answer: 5 marks</li>
						<li role="separator" class="divider"></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a href="/profile">View Profile</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
				<ul class="dropdown-menu" style="width: 200px;">
				<div style="text-align: center;" id="hintbox">
					<label for="hint">Type 'hint' in the box below to get a hint</label>
					<input style="width: 150px; height: 30px; margin-top: 10px;" type="text" name="hint" id="hint">
					<button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
				</div>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
				<ul class="dropdown-menu" style="width: 200px;">
					<form style="text-align: center;" action="/skip" method="POST">
						<label for="hint">Type 'skip' in the box below to skip this level</label>
						<input style="width: 150px; height: 30px; margin-top: 10px;" type="text" name="skip" id="skip">
						<button style="margin-top: 5px;" type="submit">Submit</button>
					</form>
				</ul>
			</li>
			</ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="jumbotron">
		<h1><strong>Can you crack the code?</strong></h1>
		</div>
		<h3>Each Statement here is a clue. Find the code from the clues and the correct code is to be entered in the three empty boxes.</h3>
	  <h1>1)One number is correct and well placed.</h1>
	  <div class="row">
	  	<div class="col-lg-4"><img src="/images/c6.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c8.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c2.jpeg" class="img-thumbnail" width="50%"></div>
	  	
	  </div>
	  <h1>2)One number is correct but wrong placed.</h1>
	   <div class="row">
	  	<div class="col-lg-4"><img src="/images/c6.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c1.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c4.jpeg" class="img-thumbnail" width="50%"></div>
	  	
	  </div>
	  <h1>3)Two numbers are correct but wrong placed.</h1>
	   <div class="row">
	  	<div class="col-lg-4"><img src="/images/c2.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c0.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c6.jpeg" class="img-thumbnail" width="50%"></div>
	  	
	  </div>
	  <h1>4)Nothing is correct.</h1>
	   <div class="row">
	  	<div class="col-lg-4"><img src="/images/c7.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c3.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c8.jpeg" class="img-thumbnail" width="50%"></div>
	  	
	  </div>
	  <h1>5)One number is correct but wrong placed.</h1>
	   <div class="row">
	  	<div class="col-lg-4"><img src="/images/c7.jpeg" class="img-thumbnail" width="50%"></div>
    	<div class="col-lg-4"><img src="/images/c8.jpeg" class="img-thumbnail" width="50%"></div>
	  	<div class="col-lg-4"><img src="/images/c0.jpeg" class="img-thumbnail" width="50%"></div>
	  	
	  </div>
	  <h1>Type your answer below:</h1>
	  <div class="row">
	  	<div class="col-lg-4"> <input type="number" style="font-size:150pt"  id="one" name="one" min="0"></div>
	  	<div class="col-lg-4"> <input type="number" style="font-size:150pt" id="two" name="two" min="0"></div>
	  	<div class="col-lg-4"> <input type="number" style="font-size:150pt" id="three" name="three" min="0"></div>
	  </div>
	  <button class="btn btn-success btn-lg c">Submit</button>
	</div>
	
<script type="text/javascript">
	var socket = io.connect("http://10.150.38.192:4000");
	var hintinput = document.getElementById("hint");
	var hintbutton = document.getElementById("hintbutton");
	var hintbox = document.getElementById("hintbox");
	var id = "<%= user.socketid %>";
	function hintfunction(){
		if(hintinput.value == "hint") {
			console.log(socket.id);
				socket.emit("hint", {
				id: id,
				toid: socket.id
			});
		}
	};
	socket.on("hintres", function(data){
		console.log(data.hint);
		hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
	});
	var button=document.querySelector(".btn")
	button.addEventListener("click",correct);
	function correct()
	{
		var x,y,z;
		x=document.getElementById("one").value;
		y=document.getElementById("two").value;
        z=document.getElementById("three").value;
        if(x>=0 && x<10 && y>=0 && y<10 && z>=0 && z<10)
            {
                document.body.innerHTML += '<form id="dynForm" action="/crack" method="post">' + 
                    '<input type="hidden" name="x" value="' + x + '">' + 
                    '<input type="hidden" name="y" value="' + y + '">' +
                    '<input type="hidden" name="z" value="' + z + '">' +
                    '</form>';
		        document.getElementById("dynForm").submit();
            } else {
			alert("You haven't entered a number between 0-9");
		}
	}
</script>
<script src="jquery341.js" ></script>
<script src="bootstrap337.js"></script>
</body>
</html>