<!DOCTYPE html>
<html>
<title>
	The Details of all the users
</title>>
<body>
	<% users.forEach(function (user) { %>
		<li>
			<h3><%= user.username %></h3>
			<br>
			<h5><%= user.score %></h5>
		</li>
	<% }) %>
	</body>
</html>