<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="bootstrap430.css">
        <script src="socketio220.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Half Or Diminish</h1>
            <p>You will be paired against another player to play this game.</p>
            <p>In the beginning, the integer 9172016 is written on the screen. In a move, a player, can:</p>
            <ul>
                <li>either decrease the number on the board by <span style="font-size: 1.2em;">1</span> (i.e., replace n by n−1), or</li>
                <li>halve the number, and round it up to the next integer if a fraction is obtained</li>
            </ul>
            <p>As always you take turns to play.The first person to get to 1 wins.</p>
            <h3 id="chance"></h3>
            <div style="font-size: 30px; text-align: center;" id="number">9172016</div>
            <div style="text-align: center;">
                <button style="margin-top: 10px;" class="btn btn-secondary" id="half">Half The Number</button>
                <button style="margin-top: 10px;" class="btn btn-primary" id="diminish">Diminish The Number By 1</button>
            </div>
        </div>
        <script>
            var socket = io.connect("http://10.150.38.192:4000/");

            socket.on('connect', function (data) {
                socket.emit('create4', { id:"<%= user.socketid %>"});
            });
            var id = "<%= user.socketid %>";
            var chanceshow = document.getElementById("chance");
            if(Number(id)< 20) {
                var chance = "Your Chance";
                chanceshow.innerHTML = "Your Chance";
            } else {
                var chance = "Opponent Chance";
                chanceshow.innerHTML = "Opponent Chance";
            }
            var number = document.getElementById("number");
            var half = document.getElementById("half");
            var diminish = document.getElementById("diminish");

            half.addEventListener("click", function(){
                if(chance == "Your Chance") { 
                    number.innerHTML = Math.ceil(Number(number.innerHTML)/2);
                    socket.emit("number", {
                        number: number.innerHTML,
                        id: id
                    });
                    chance = "Opponent Chance";
                    check();
                }
            });
            diminish.addEventListener("click", function(){
                if(chance == "Your Chance") { 
                    number.innerHTML = (Number(number.innerHTML)-1);
                    socket.emit("number", {
                        number: number.innerHTML,
                        id: id
                    });
                    chance = "Opponent Chance";
                    chanceshow.innerHTML = "Opponent Chance";
                    check();
                }
            });
            socket.on("number1", function(data){
                if(data.id != id) {
                    number.innerHTML = data.number;
                    chance = "Your Chance";
                    chanceshow.innerHTML = "Your Chance";
                    check();
                }
            });
            function check() {
                if(number.innerHTML == "1") {
                    if(chance == "Opponent Chance") {
                        alert("You Win!");
                        document.body.innerHTML += '<form id="dynForm" action="/half" method="POST"><input type="hidden" name="result" value="I won"></form>';
				        document.getElementById("dynForm").submit();
                    } else {
                        alert("Opponent Wins!");
                        document.body.innerHTML += '<form id="dynForm" action="/half" method="POST"><input type="hidden" name="result" value="I lose"></form>';
				        document.getElementById("dynForm").submit();
                    }
                }
            }
        </script>
    </body>
</html>