<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="bootstrap337.js">
        <script> 
            //set minutes 
            var mins = 5; 
        
            //calculate the seconds 
            var secs = mins * 60; 
        
            //countdown function is evoked when page is loaded 
            function countdown() { 
                setTimeout('Decrement()', 60); 
            } 
        
            //Decrement function decrement the value. 
            function Decrement() { 
                if (document.getElementById) { 
                    minutes = document.getElementById("minutes"); 
                    seconds = document.getElementById("seconds"); 
        
                    //if less than a minute remaining 
                    //Display only seconds value. 
                    if (seconds < 59) { 
                        seconds.value = secs; 
                    } 
        
                    //Display both minutes and seconds 
                    //getminutes and getseconds is used to 
                    //get minutes and seconds 
                    else { 
                        minutes.value = getminutes(); 
                        seconds.value = getseconds(); 
                    } 
                    //when less than a minute remaining 
                    //colour of the minutes and seconds 
                    //changes to red 
                    if (mins < 1) { 
                        minutes.style.color = "red"; 
                        seconds.style.color = "red"; 
                    } 
                    //if seconds becomes zero, 
                    //then page alert time up 
                    if (mins < 0) { 
                        window.location = "/half2"; 
                        minutes.value = 0; 
                        seconds.value = 0; 
                    } 
                    //if seconds > 0 then seconds is decremented 
                    else { 
                        secs--; 
                        setTimeout('Decrement()', 1000); 
                    } 
                } 
            } 
        
            function getminutes() { 
                //minutes is seconds divided by 60, rounded down 
                mins = Math.floor(secs / 60); 
                return mins; 
            } 
        
            function getseconds() { 
                //take minutes remaining (as seconds) away  
                //from total seconds remaining 
                return secs - Math.round(mins * 60); 
            } 
        </script>
    </head>
    <body onload="countdown();">
        <div class="container">
            <h1>Half Or Diminish</h1>
            <div> 
                <span style="font-size: 20px;">Time Left : </span> 
                <input id="minutes" type="text" style="width: 15px; 
                        border: none; font-size: 20px;  
                    font-weight: bold; color: black;"><font size="5"> : 
                                </font> 
                <input id="seconds" type="text" style="width: 25px; 
                                border: none; font-size: 20px; 
                                font-weight: bold; color: black;"> 
            </div> 
            <p>You will be paired against another player to play this game.</p>
            <p>In the beginning, the integer 9172016 is written on the screen. In a move, a player, can:</p>
            <ul>
                <li>either decrease the number on the board by <span style="font-size: 1.2em;">1</span> (i.e., replace n by n−1), or</li>
                <li>halve the number, and round it up to the next integer if a fraction is obtained</li>
            </ul>
            <p>As always you take turns to play.The first person to get to 1 wins.</p>
            <p>You will have 5 mins to make a strategy and you will be redirected to the game.</p>
        </div>
    </body>