<!DOCTYPE html>
<html>
	<head>
		<title>Technothlon</title>
		<link rel="stylesheet" type="text/css" href="bootstrap337.css">
		<style type="text/css">
			label {
				text-align: center;
			}
			p,ol,ul {
				color: black;
				font-size: 1.4em;
			}
			h1{
				color: white;
			}
			body{
				background-color:black;
				background-image:
				radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
				radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
				radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
				radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
				background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
				background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
			}
        </style>
        <script src="socketio220.js"></script>

	</head>
	<body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Technothlon</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
                        <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                            <li>Level Name: The Invisible Level</li>
                            <li role="separator" class="divider"></li>
                            <li>Maximum Marks: </li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Hint 1: 5 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Hint 2: 5 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Skip: 15 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Wrong Answer: 15 marks</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">View Profile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 200px;">
                    <div style="text-align: center;" id="hintbox">
                        <label for="hint">Type 'hint' in the box below to get a hint</label>
                        <input style="width: 150px;" type="text" name="hint" id="hint">
                        <button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
                    </div>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 200px;">
                        <form style="text-align: center;" action="/skip" method="POST">
                            <label for="hint">Type 'skip' in the box below to skip this level</label>
                            <input style="width: 150px;" type="text" name="skip" id="skip">
                            <button style="margin-top: 5px;" type="submit">Submit</button>
                        </form>
                    </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <h1>Solve The Question IN The Night Sky</h1>
        <p>Take A Closer Look At The i'th Word Of The i'th Sentence.</p>
        <form action="/invisible" method="POST">
            <input type="text" placeholder="Enter Your Answer" name="answer">
            <input type="submit">
        </form>
            <p>1)All was well.</p>
            <p>2)He looked back at the whisperers as if he wanted to say something to them, but thought better of it.</p>
            <p>3)It was on the corner of the street that he noticed the first sign of something peculiar -- a cat reading a map. For a second, Mr. Dursley didn't realize what he had seen -- then he jerked his head around to look again.</p>
            <p>4)But you know, happiness can be found even in the darkest of times, if one only remembers to turn on the light.</p>
            <p>5)Fear of a name only increases fear of the thing itself.</p>
            <p>6)As he sat in the morning traffic jam, he couldn't help noticing that there seemed to be a lot of strangely dressed people about. People in cloaks.</p>
            <p>7)Things we lose have a way of coming back to us in the end, if not always in the way we expect.</p>
            <p>8)The owls are nothing next to the rumors that are flying around. You know what everyone's saying? About why he's disappeared? About what finally stopped him?</p>
            <p>9)We are as strong as we are united, as weak as we are divided.</p>
	</div>
	<script src="jquery341.js"></script>
    <script src="bootstrap337.js"></script>
    <script>
            var socket = io.connect("http://10.150.38.192:4000/");
            var hintinput = document.getElementById("hint");
            var hintbutton = document.getElementById("hintbutton");
            var hintbox = document.getElementById("hintbox");
            var id = "<%= user.socketid %>";
            function hintfunction(){
                if(hintinput.value == "hint") {
                    console.log(socket.id);
                        socket.emit("hint", {
                        id: id,
                        toid: socket.id
                    });
                }
            };
            socket.on("hintres", function(data){
                console.log(data.hint);
                hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
            });
        </script>    
</body>
</html>