<!DOCTYPE HTML>
<html>
	<head>
		<title>Technothlon</title>
		<link rel="stylesheet" type="text/css" href="bootstrap337.css">
		<style>
			#div1 {
			  float: left;
			  width: 50px;
			  height: 50px;
			  border: 1px solid #aaaaaa;
			}
			#div2 {
			  width: 50px;
			  height: 50px;
			  border: 1px solid #aaaaaa;
			  margin-left: 292px;
			}
			#div3 {
			  width: 50px;
			  height: 50px;
			  border: 1px solid #aaaaaa;
			  margin-top: 117px;
			  margin-left: 292px;
			}

			#rectangle {
				height: 220px;
				width: 344px;
				border: 2px solid red;
			}
			p {
				font-size: 1.2em;
			}
		</style>
		<script>
			function allowDrop(ev) {
			  ev.preventDefault();
			}

			function drag(ev) {
			  ev.dataTransfer.setData("text", ev.target.id);
			}

			function drop(ev) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
				document.body.innerHTML += '<form id="dynForm" action="/light" method="post"><input type="hidden" name="divId" value="' + ev.target.id + '"></form>';
				document.getElementById("dynForm").submit();
			}
        </script>
        <script src="socketio220.js"></script>

	</head>
	<body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Technothlon</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
                        <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                            <li>Level Name: The Puzzle Of Light Portal</li>
                            <li role="separator" class="divider"></li>
                            <li>Maximum Marks: 20 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Hint 1: 7 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Hint 2: 0 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Skip: 10 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Wrong Answer: 10 marks</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">View Profile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 200px;">
                    <div style="text-align: center;" id="hintbox">
                        <label for="hint">Type 'hint' in the box below to get a hint</label>
                        <input style="width: 150px;" type="text" name="hint" id="hint">
                        <button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
                    </div>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 200px;">
                        <form style="text-align: center;" action="/skip" method="POST">
                            <label for="hint">Type 'skip' in the box below to skip this level</label>
                            <input style="width: 150px;" type="text" name="skip" id="skip">
                            <button style="margin-top: 5px;" type="submit">Submit</button>
                        </form>
                    </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
            <div class="container">
			<h1>The Puzzle Of The Light Portal</h1>
			<p>Assume That You Are in a Rectangular Room With perfectly reflecting sides(86m by 55m).</p>
			<p>And a Light Ray Enters The Room at an Angle of 45° from the bottom left corner.</p>
			<p>The Light Must be diverted to a portal. At which corner must the portal be dragged so that light can fall on the portal. Drag and Drop the portal into one of the boxes.</p>

			<div id = rectangle>
				<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				<div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
			</div>
			<br>
			<img id="drag1" src="/images/portal.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
		</div>
		<script src="jquery341.js"></script>
        <script src="bootstrap337.js"></script>
        <script>
            var socket = io.connect("http://10.150.38.192:4000/");
            var hintinput = document.getElementById("hint");
            var hintbutton = document.getElementById("hintbutton");
            var hintbox = document.getElementById("hintbox");
            var id = "<%= user.socketid %>";
            function hintfunction(){
                if(hintinput.value == "hint") {
                    console.log(socket.id);
                        socket.emit("hint", {
                        id: id,
                        toid: socket.id
                    });
                }
            };
            socket.on("hintres", function(data){
                console.log(data.hint);
                hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
            });
        </script>
    </body>
</html>