<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="bootstrap337.css">
        <style>
            .row {
                max-width: 780px;
            }
            .col-md-1 {
                height: 65px;
                border: 1px solid black;
            }
            body {
                padding-bottom: 20px;
            }
            </style>
        <script src="socketio220.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Technothlon</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
                        <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                            <li>Level Name: Logic 34</li>
                            <li role="separator" class="divider"></li>
                            <li>Marking Scheme: 625/Number of Clicks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Hint 1: 0 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Hint 2: 0 marks</li>
                            <li role="separator" class="divider"></li>
                            <li>Deduction On Skip: 10 marks</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">View Profile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 200px;">
                    <div style="text-align: center;" id="hintbox">
                        <label for="hint">Type 'hint' in the box below to get a hint</label>
                        <input style="width: 150px;" type="text" name="hint" id="hint">
                        <button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
                    </div>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 200px;">
                        <form style="text-align: center;" action="/skip" method="POST">
                            <label for="hint">Type 'skip' in the box below to skip this level</label>
                            <input style="width: 150px;" type="text" name="skip" id="skip">
                            <button style="margin-top: 5px;" type="submit">Submit</button>
                        </form>
                    </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            <h1>The Journey Plus</h1>
            <p>Clicking any square will toggle its and its adjacent squares’ colour (it will become red if it was green and vice-versa).</p>
            <p>Your Job Is To Make Every Square Green In The MINIMUM Number Of Clicks</p>
            <p>Number Of Clicks: <span id="count">0</span></p>
            <div class="row">
                <div onclick="myfunction(this.id)" id="11" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="12" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="13" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="14" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="15" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="16" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="17" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="18" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="19" class="col-md-1 btn-success"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="21" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="22" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="23" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="24" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="25" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="26" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="27" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="28" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="29" class="col-md-1 btn-success"></div>
            </div>
            <div class="row">
                <div  onclick="myfunction(this.id)" id="31" class="col-md-1 btn-success"></div>
                <div  onclick="myfunction(this.id)" id="32" class="col-md-1 btn-success"></div>
                <div  onclick="myfunction(this.id)" id="33" class="col-md-1 btn-danger"></div>
                <div  onclick="myfunction(this.id)" id="34" class="col-md-1 btn-danger"></div>
                <div  onclick="myfunction(this.id)" id="35" class="col-md-1 btn-danger"></div>
                <div  onclick="myfunction(this.id)" id="36" class="col-md-1 btn-success"></div>
                <div  onclick="myfunction(this.id)" id="37" class="col-md-1 btn-danger"></div>
                <div  onclick="myfunction(this.id)" id="38" class="col-md-1 btn-success"></div>
                <div  onclick="myfunction(this.id)" id="39" class="col-md-1 btn-success"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="41" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="42" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="43" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="44" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="45" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="46" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="47" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="48" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="49" class="col-md-1 btn-danger"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="51" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="52" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="53" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="54" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="55" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="56" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="57" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="58" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="59" class="col-md-1 btn-danger"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="61" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="62" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="63" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="64" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="65" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="66" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="67" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="68" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="69" class="col-md-1 btn-danger"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="71" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="72" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="73" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="74" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="75" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="76" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="77" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="78" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="79" class="col-md-1 btn-success"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="81" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="82" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="83" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="84" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="85" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="86" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="87" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="88" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="89" class="col-md-1 btn-success"></div>
            </div>
            <div class="row">
                <div onclick="myfunction(this.id)" id="91" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="92" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="93" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="94" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="95" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="96" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="97" class="col-md-1 btn-danger"></div>
                <div onclick="myfunction(this.id)" id="98" class="col-md-1 btn-success"></div>
                <div onclick="myfunction(this.id)" id="99" class="col-md-1 btn-danger"></div>
            </div>
            <button style="margin-top: 10px;" id="butto" class="btn btn-default">Submit</button>
        </div>
        <script src="jquery341.js"></script>
        <script src="bootstrap337.js" ></script>
        <script>
 var socket = io.connect("http://10.150.38.192:4000/");
            var hintinput = document.getElementById("hint");
            var hintbutton = document.getElementById("hintbutton");
            var hintbox = document.getElementById("hintbox");
            var id = "<%= user.socketid %>";
            function hintfunction(){
                if(hintinput.value == "hint") {
                    console.log(socket.id);
                        socket.emit("hint", {
                        id: id,
                        toid: socket.id
                    });
                }
            };
            socket.on("hintres", function(data){
                console.log(data.hint);
                hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
            });
var counter = 0;
function myfunction(clicked_id) {
    counter++;
    document.getElementById("count").innerHTML = counter;
    var clicked = document.getElementById(clicked_id);
    var clickedRight = document.getElementById(Number(clicked_id) + 10);
    var clickedLeft = document.getElementById(Number(clicked_id) - 10);
    var clickedTop = document.getElementById(Number(clicked_id) - 1);
    var clickedBottom = document.getElementById(Number(clicked_id) + 1);
    if(clicked.classList.contains("btn-success") == true) {
        clicked.classList.remove("btn-success");
        clicked.classList.add("btn-danger");
    } else {
        clicked.classList.remove("btn-danger");
        clicked.classList.add("btn-success");
    }

    if(clickedRight == null) {

    } else {
        if(clickedRight.classList.contains("btn-success") == true) {
            clickedRight.classList.remove("btn-success");
            clickedRight.classList.add("btn-danger");
        } else {
            clickedRight.classList.remove("btn-danger");
            clickedRight.classList.add("btn-success");
        }
    }
    if(clickedLeft == null){

    } else {
        if(clickedLeft.classList.contains("btn-success") == true) {
            clickedLeft.classList.remove("btn-success");
            clickedLeft.classList.add("btn-danger");
        } else {
            clickedLeft.classList.remove("btn-danger");
            clickedLeft.classList.add("btn-success");
        }
    }

    if(clickedTop == null){

    } else {
        if(clickedTop.classList.contains("btn-success") == true) {
            clickedTop.classList.remove("btn-success");
            clickedTop.classList.add("btn-danger");
        } else {
            clickedTop.classList.remove("btn-danger");
            clickedTop.classList.add("btn-success");
        }
    }

    if(clickedBottom == null){

    } else {
        if(clickedBottom.classList.contains("btn-success") == true) {
            clickedBottom.classList.remove("btn-success");
            clickedBottom.classList.add("btn-danger");
        } else {
            clickedBottom.classList.remove("btn-danger");
            clickedBottom.classList.add("btn-success");
        }
    }
}
document.getElementById("butto").addEventListener("click", function(){
    var btndanger = document.querySelectorAll(".btn-success");
    if(btndanger.length == 81){
        document.body.innerHTML += '<form id="dynForm" action="/logic34" method="POST"><input type="hidden" name="counter" value="'+ counter +'"></form>';
        document.getElementById("dynForm").submit();
    } else {
        alert("Complete The Game!!");
    }
});
        </script>
    </body>
</html>