<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="bootstrap430.css">
        <script src="socketio220.js"></script>
        <script src="5bd832650a.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>The Game Of The Box Pile</h1>
            <p>There are 452 boxes present in front of you.</p>
            <p>On each play, any number ofboxes, which is a power of 2 (including 1), can be removed from the pile.</p>
            <p>Obviously the number of chips to be removed cannot be higher than the number of chips on the current pile.</p>
            <p> The person, who removes the last chip is the winner. There are 452 chips on the pile.</p>
            <h3 id="chance"></h3>
            <p>Number Of Boxes Left: <span id="boxesLeft">452</span></p>
            <div id="boxes">
            </div>
            <p>Your Boxes: <span id="myboxesleft">0</span></p>
            <div id="myboxes">
                
            </div>
            <input type="text" id="myinput" name="myinput">
            <button id="btn" type="submit">Submit</button>
            <p>Your Opponent's Boxes: <span id="opponentboxesleft">0</span></p>
            <div id="opponentboxes">

            </div>
        </div>
        <script>
            var socket = io.connect("http://10.150.38.192:4000/");

            socket.on('connect', function (data) {
                socket.emit('create3', {id:"<%= user.socketid %>"});
            });
            var myboxesleft = document.getElementById("myboxesleft");
            var chanceshow = document.getElementById("chance");
            var opponentboxesleft = document.getElementById("opponentboxesleft");
            var myboxes = document.getElementById("myboxes");
            var opponentboxes = document.getElementById("opponentboxes");
            var id = "<%= user.socketid %>";
            var boxdiv = document.getElementById("boxes");
            for(var i = 0; i < 452/2; i++) {
                boxdiv.innerHTML += ' <i class="fas left-box fa-box"></i>';
            }
            if(Number(id) >= 20) {
                var chance = "Your Chance";
                chanceshow.innerHTML = "Your Chance";
            } else {
                var chance = "Opponent Chance";
                chanceshow.innerHTML = "Opponent Chance";
            }
            var boxesLeft = document.getElementById("boxesLeft");
            var NumberOfBoxesLeft = 452;
            var NumberOfMyBoxes = 0;
            var NumberOfOpponentBoxes = 0;
            var button = document.getElementById("btn");
            var input = document.getElementById("myinput");
            button.addEventListener("click", function(){
                if(chance == "Your Chance") {
                        var inputValue = input.value;
                        if (isNaN(Number(inputValue))) {
                            alert("Enter a Number!");
                        } else {
                            if(Number(inputValue) > NumberOfBoxesLeft) {
                            alert("Enter a number less than the number of boxes left");
                        } else if(power_of_2(Number(inputValue)) == false) {
                            alert("Enter a number as a power of two");
                        } else {
                            NumberOfMyBoxes += Number(inputValue);
                            myboxesleft.innerHTML = NumberOfMyBoxes;
                            NumberOfBoxesLeft -= Number(inputValue);
                            boxesLeft.innerHTML = NumberOfBoxesLeft;
                            socket.emit("pilenumber", {
                                number: inputValue,
                                id: id
                            });
                            var numberOfBoxes = document.getElementsByClassName("left-box").length;
                            boxdiv.innerHTML = "";
                            for(var i = 0; i < numberOfBoxes - Number(inputValue)/2; i++) {
                                boxdiv.innerHTML += ' <i class="fas left-box fa-box"></i>';
                            }
                            for(var i = 0; i < Number(inputValue)/2; i++) {
                                myboxes.innerHTML += ' <i class="fas fa-box"></i>'
                            }
                            chance = "Opponent Chance";
                            chanceshow.innerHTML = "Opponent Chance";
                        }
                        check();
                    }
                }
                    // it's something else
            });
            socket.on("pilenumber", function(data){
                if(data.id != id) {
                    var inputValue = data.number;
                    NumberOfOpponentBoxes += Number(inputValue);
                    opponentboxesleft.innerHTML = NumberOfOpponentBoxes;
                    NumberOfBoxesLeft = NumberOfBoxesLeft - Number(inputValue);
                    boxesLeft.innerHTML = NumberOfBoxesLeft;
                    var numberOfBoxes = document.getElementsByClassName("left-box").length;
                    boxdiv.innerHTML = "";
                    for(var i = 0; i < numberOfBoxes - Number(inputValue)/2; i++) {
                        boxdiv.innerHTML += ' <i class="fas left-box fa-box"></i>';
                    }
                    for(var i = 0; i < Number(inputValue)/2; i++) {
                        opponentboxes.innerHTML += ' <i class="fas fa-box"></i>'
                    }
                    chance= "Your Chance";
                    chanceshow.innerHTML = "Your Chance";
                    check();
                    }
            });
            function check() {
                if(NumberOfBoxesLeft == 0) {
                    if(chance == "Your Chance") {
                        alert("Opponent Wins!");
                        document.body.innerHTML += '<form id="dynForm" action="/pile" method="POST"><input type="hidden" name="result" value="I lose"></form>';
				        document.getElementById("dynForm").submit();
                    } else {
                        alert("You Win!");
                        document.body.innerHTML += '<form id="dynForm" action="/pile" method="POST"><input type="hidden" name="result" value="I won"></form>';
				        document.getElementById("dynForm").submit();
                    }
                }
            }
            function power_of_2(n) {
                if (typeof n !== 'number') 
                    return 'Not a number'; 
                return n && (n & (n - 1)) === 0;
            }
        </script>
    </body>
</html>