<!DOCTYPE html>
<html lang="en">
<head>
	<title>Squares</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap337.css">
  	<script src="jquery341.js"></script>
    <script src="bootstrap337.js"></script> 
    <script src="socketio220.js"></script> 
    <style>
        .grid-container {
            display: inline-grid;
            grid-template-columns: 100px 100px 100px 100px  100px;
            grid-template-rows: 100px 100px 100px  100px 100px;
            background-color: #ffffff;
            grid-gap: 1px;
            padding: 1px;
            }

            .grid-item {
            background-color: #ffffff;
            border: none;
            padding: 40px;
            font-size: 30px;
            text-align: center;
            }

            .button {
            border: none;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 6px;
            margin: 4px 2px;
            border-radius: 100%;
            }
            .removed {
                background-color: red;
            }
            .not_removed {
                background-color: black;
            }
    </style>
 	 </head>
<body style="padding-bottom: 20px;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Technothlon</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
                    <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                        <li>Level Name: Squares</li>
                        <li role="separator" class="divider"></li>
                        <li>Maximum Marks: 30 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Hint 1: 0 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Hint 2: 0 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Skip: 10 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Wrong Answer: 5 marks</li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">View Profile</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 200px;">
                <div style="text-align: center;" id="hintbox">
                    <label for="hint">Type 'hint' in the box below to get a hint</label>
                    <input style="width: 150px;" type="text" name="hint" id="hint">
                    <button style="margin-top: 5px;" id="hintbutton" onclick="hintfunction()" type="submit">Submit</button>
                </div>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 200px;">
                    <form style="text-align: center;" action="/skip" method="POST">
                        <label for="hint">Type 'skip' in the box below to skip this level</label>
                        <input style="width: 150px;" type="text" name="skip" id="skip">
                        <button style="margin-top: 5px;" type="submit">Submit</button>
                    </form>
                </ul>
            </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
	<div class="container" align="center">

		<div class="question">
			<h3>Remove the least possible number of dots from the figure so that it will be impossible to form a square with any remaining dots as vertices.
			</h3>
			<h5>[On removing only 10 dots you will complete this level and get 30 points. However, if you remove 11 dots or 12 dots, such that no squares form, and submit, you will get 20 and 10 points respectively, and will proceed to the next level.]
			</h5>
		</div>
		<div class="grid-container" id="dots" align="center">			
		</div>
		<div style="width:350px; text-align: center;">
			<button onclick="check()" class="sub">Submit</button>
		</div>
    <script type="text/javascript">
        var socket = io.connect("http://10.150.38.192:4000/");
        var hintinput = document.getElementById("hint");
        var hintbutton = document.getElementById("hintbutton");
        var hintbox = document.getElementById("hintbox");
            var id = "<%= user.socketid %>";
            function hintfunction(){
            if(hintinput.value == "hint") {
                    socket.emit("hint", {
                    id: id,
                    toid: socket.id
                });
            }
        };
        socket.on("hintres", function(data){
            hintbox.innerHTML += '<li>Hint: '+ data.hint + '</li><li role="separator" class="divider"></li>';
        });
        var s=[1,1];
        for(i=0;i<23;i++){
            s.push(1);
        }
        var grid=document.getElementById("dots");
        for(var i=0;i<25;i++)
        {
            var a=document.createElement('div');
            var dot=document.createElement('div');
            var b=document.createElement('button');
            b.id=i;
            b.onclick=dot_click;
            a.classList.add("grid-item");
            b.classList.add("button");
            b.classList.add("not_removed");
            dot.appendChild(b);
            a.appendChild(dot);
            grid.appendChild(a);
        }
        function dot_click(){
            document.getElementById(this.id).classList.toggle("not_removed");
            if(document.getElementById(this.id).classList.contains("not_removed")){
                console.log("not removed");
                s[this.id]=1;
            }
            else
            {
                console.log("removed");
                s[this.id]=0;
            }
        }

        function check(){
            console.log(s);
            var c=0;
            for(var k=0;k<25;k++){
                c+=s[k];
            }	
            if(c==15 || c==14 || c==13) {
                var  fail=0;
                while(1){
                        //check for 1x1 squses
                    if(s[0] && s[1] && s[5] && s[6])
                        { fail=1; break; }
                    else if(s[1] && s[2] && s[6] && s[7])
                        { fail=1; break; }
                    else if(s[2] && s[3] && s[7] && s[8])
                        { fail=1; break; }
                    else if(s[3] && s[4] && s[8] && s[9])
                        { fail=1; break; }
                    else if(s[5] && s[6] && s[10] && s[11])
                        { fail=1; break; }
                    else if(s[6] && s[7] && s[11] && s[12])
                        { fail=1; break; }
                    else if(s[7] && s[8] && s[12] && s[13])
                        { fail=1; break; }
                    else if(s[8] && s[9] && s[13] && s[14])
                        { fail=1; break; }
                    else if(s[10] && s[11] && s[15] && s[16])
                        { fail=1; break; }
                    else if(s[11] && s[12] && s[16] && s[17])
                        { fail=1; break; }
                    else if(s[12] && s[13] && s[17] && s[18])
                        { fail=1; break; }
                    else if(s[13] && s[14] && s[18] && s[19])
                        { fail=1; break; }
                    else if(s[15] && s[16] && s[20] && s[21])
                        { fail=1; break; }
                    else if(s[16] && s[17] && s[21] && s[22])
                        { fail=1; break; }
                    else if(s[17] && s[18] && s[22] && s[23])
                        { fail=1; break; }
                    else if(s[18] && s[19] && s[23] && s[24])
                        { fail=1; break; }

                    //check for 2x2 squses
                    else if(s[0] && s[2] && s[10] && s[12])
                        { fail=1; break; }
                    else if(s[1] && s[3] && s[11] && s[13])
                        { fail=1; break; }
                    else if(s[2] && s[4] && s[12] && s[14])
                        { fail=1; break; }
                    else if(s[5] && s[7] && s[15] && s[17])
                        { fail=1; break; }
                    else if(s[6] && s[8] && s[16] && s[18])
                        { fail=1; break; }
                    else if(s[7] && s[9] && s[17] && s[19])
                        { fail=1; break; }
                    else if(s[10] && s[12] && s[20] && s[22])
                        { fail=1; break; }
                    else if(s[11] && s[13] && s[21] && s[23])
                        { fail=1; break; }
                    else if(s[12] && s[14] && s[22] && s[24])
                        { fail=1; break; }

                    //check for 3x3 squses
                    else if(s[0] && s[3] && s[15] && s[18])
                        { fail=1; break; }
                    else if(s[1] && s[4] && s[16] && s[19])
                        { fail=1; break; }
                    else if(s[5] && s[8] && s[20] && s[23])
                        { fail=1; break; }
                    else if(s[6] && s[9] && s[21] && s[24])
                        { fail=1; break; }

                    //check for the 4x4 squse
                    else if(s[0] && s[4] && s[20] && s[24])
                        { fail=1; break; }

                    //check for 45deg 1x1 squses
                    else if(s[1] && s[5] && s[7] && s[11])
                        { fail=1; break; }
                    else if(s[2] && s[6] && s[8] && s[12])
                        { fail=1; break; }
                    else if(s[3] && s[7] && s[9] && s[13])
                        { fail=1; break; }
                    else if(s[6] && s[10] && s[12] && s[16])
                        { fail=1; break; }
                    else if(s[7] && s[11] && s[13] && s[17])
                        { fail=1; break; }
                    else if(s[8] && s[12] && s[14] && s[18])
                        { fail=1; break; }
                    else if(s[11] && s[15] && s[17] && s[21])
                        { fail=1; break; }
                    else if(s[12] && s[16] && s[18] && s[22])
                        { fail=1; break; }
                    else if(s[13] && s[17] && s[19] && s[23])
                        { fail=1; break; }

                    //check for the 45deg 2x2 squse
                    else if(s[2] && s[10] && s[14] && s[22])
                        { fail=1; break; }

                    //check for 30ish deg 1x1 squses
                    else if(s[5] && s[2] && s[16] && s[13])
                        { fail=1; break; }
                    else if(s[6] && s[3] && s[17] && s[14])
                        { fail=1; break; }
                    else if(s[10] && s[7] && s[21] && s[18])
                        { fail=1; break; }
                    else if(s[11] && s[8] && s[22] && s[19])
                        { fail=1; break; }
                    else if(s[1] && s[10] && s[17] && s[8])
                        { fail=1; break; }
                    else if(s[2] && s[11] && s[18] && s[9])
                        { fail=1; break; }
                    else if(s[6] && s[15] && s[22] && s[13])
                        { fail=1; break; }
                    else if(s[7] && s[16] && s[23] && s[14])
                        { fail=1; break; }

                    //check for slanted 3x3 squses
                    else if(s[5] && s[3] && s[21] && s[19])
                        { fail=1; break; }
                    else if(s[15] && s[1] && s[9] && s[23])
                        { fail=1; break; }
                    else{
                        console.log("no of dots removed:");
                        console.log(25-c);
                        if(c==15)
                            alert("Correct. 10 dots removed- you get 30 points!");
                        else if(c==14)
                            alert("Correct - 11 dots removed - you get 20 points!");
                        else if(c==13)
                            alert("Correct - 12 dots removed - you get 10 points!");
                        else{
                            c=-1;
                            console.log("no squares formed but more than 12 removed");
                        }
                        document.body.innerHTML += '<form id="dynForm" action="/square" method="post"><input type="hidden" name="c" value="' + c + '"></form>';
				        document.getElementById("dynForm").submit();
                        break;
                    }
                }
                console.log("fail");
                console.log(fail);
                if(fail==1){
                    alert("Wrong ans");
                    document.body.innerHTML += '<form id="dynForm" action="/square" method="post"><input type="hidden" name="x" value="Squares Formed"></form>';
				    document.getElementById("dynForm").submit();
                    console.log("squares formed!");
                }
            }	
            else{
                alert("wrong ");
                c=-1;
                console.log("Squares Condition Not Checked");
                console.log("no of dots removed:");
                console.log(25-c);
            }
        }
    </script>

	</div>

</body>
</html>